# -----------------------------------------------------------------------------
# --- File extensions to ignore
# -----------------------------------------------------------------------------
*.bin
*.dat
*.fig
*.cfg
*.bz2
*~
*.mat
*.a
*.png
*.eps
*__
Per_*
*.pod
*.err
*.out
*.pyc
# -----------------------------------------------------------------------------
# --- Folders to ignore
# -----------------------------------------------------------------------------
__pycache__/*
temp_data/*
FILD_calibration/*
Data/StrikeMaps/*
MyRoutines/*
Results/*
doc/*
