# -----------------------------------------------------------------------------
# --- File extensions to ignore
# -----------------------------------------------------------------------------
*.bin
*.dat
*.fig
*.cfg
*.bz2
*~
*.mat
*.a
*.png
*.eps
*.svg
*__
Per_*
*.pod
*.err
*.out
*.pyc
*.pkc
*.pck
*.pk4
fort*
*.avi
*.mp4
*.pdf
core.*
*.js
*.nc
Data/MyData/paths.txt
# -----------------------------------------------------------------------------
# --- Folders to ignore
# -----------------------------------------------------------------------------
__pycache__/*
temp_data/*
FILD_calibration/*
Data/StrikeMaps/*
Data/BEP/spectra/*
Data/MyData/*
Data/Magnetics/*
Data/RemapStrikeMaps/*
Data/RemapDatabase/*
MyRoutines/*
Results/*
doc/*
Data/BEP
DoxiDoc/*
html/*
.idea/*
.spyproject/*
.vscode
.owncloudsync*
.sync_journal*
.vscode/*
build/*
*.egg-info/
*tmpFILDVideos
Settings.yml
# -----------------------------------------------------------------------------
# --- Confidential files
# -----------------------------------------------------------------------------
D3D01.txt
D3D02.txt
D3D01.pl
D3D02.pl