# -----------------------------------------------------------------------------
# --- File extensions to ignore
# -----------------------------------------------------------------------------
*.bin
*.dat
*.fig
*.cfg
*.bz2
*~
*.mat
*.a
*.png
*.eps
*.svg
*__
Per_*
*.pod
*.err
*.out
*.pyc
*.pkc
*.pck
*.pk4
fort*
*.avi
*.mp4
Data/MyData/paths.txt
# -----------------------------------------------------------------------------
# --- Folders to ignore
# -----------------------------------------------------------------------------
__pycache__/*
temp_data/*
FILD_calibration/*
Data/StrikeMaps/*
Data/BEP/spectra/*
Data/MyData/*
Data/Magnetics/*
Data/RemapStrikeMaps/*
MyRoutines/*
Results/*
doc/*
Data/BEP
DoxiDoc/*
html/*
.idea/*
.spyproject/*
